

<!-- 通过ngIf结构型指令显示ng-template的内容  
<div class="lessons-list" *ngIf="condition else elseTemplate">
    <h3>标题:判断条件为真</h3>
</div>
<ng-template #elseTemplate>
    <div>判断条件为假</div>
</ng-template>
<br>-->

<!-- 通过ViewContainerRef和TemplateRef直接把ng-template对应的元素加入到DOM结构中(这种情况应该用的比较少) -->

<!---
<ng-template #tpl>
    <div>
        Hello, ng-template!
    </div>
</ng-template>
<br>
->

<!--
<ng-template #inputTemplate>
    <input>
    <h1>ngTemplateOutlet的用法</h1>
</ng-template>

<ng-container *ngTemplateOutlet="inputTemplate"></ng-container>
-->


<!-- ng-template带参数的情况 -->
<!-- let-param 取的是绑定对象myContext的$implicit字段的指，let-param相和let-param="$implicit"是等价的， -->
<!-- let-name="name" 取的是绑定对象myContext里面name字段对应的值-->

<!--
<ng-template #inputTemplateWithContent let-param let-name="name">
    <div>参数1: {{param}}</div>
    <div>参数2: {{name}}</div>
</ng-template>

<ng-container *ngTemplateOutlet="inputTemplateWithContent; context: myContext"></ng-container>
<br>

-->

<!--
    如何将 ng-template 作为参数传递给*ngTemplateOutlet

<ng-template #paramTemplate>
    <div>我是#paramTemplate里的 div 标签</div>
</ng-template>

<app-template-input [inputTemplate]='paramTemplate'></app-template-input>

-->
<input #phone />

<!-- lots of other elements -->

<!-- phone refers to the input element; pass its `value` to an event handler -->
<button type="button" (click)="callPhone(phone.value + condition)">Call</button>