<!--
<app-content-section>
    <div name="test">div[name="test"]</div>
    <div>纯粹的 div 标签</div>
    <p #six class="content-class">p 标签，包含 [class="content-class] 和 six id</p>
    <p name="test">p 标签 [name="test"]</p>
    <!--
    <app-content-child #section_child_0 [title]="title_0">
        <p>不会显示出来</p>
    </app-content-child>
    <app-content-child #section_child_1 [title]="title_1">
        <p>不会显示出来</p>
    </app-content-child>
</app-content-section>
-->

<!--
<app-zippy-basic>
    <p question>
        带了问号的 p 节点
      </p>
      <p>普通 p 节点</p>
</app-zippy-basic>
-->
<example-app></example-app>